{% extends 'index.html' %}

{% block title %} Todo List {% endblock%}
{% block content %}
<div class="task-content">
    <h1>Todo List</h1>
    <div class="list">
        <ol class="todoList">
            {% for task in tasks %}
            <li> Title : {{task.title}} --
                {{task.description}}
                <span>
                    <a href="/single_task/{{task.id}}" class="btn task-btn">View Task</a>
                </span>
                <hr>
                {% endfor %}
        </ol>
    </div>
</div>


{% endblock %}