{% extends 'index.html' %}

    {% block title %}Update Task {% endblock%}
{% block content %}
    <h1>Update  Task</h1>
    <form action="/update_task/{{myid}}" method="POST">
        <label for="new_title">New Task Title:</label><br>
        <input type="text" id="new_title" name="new_title" required><br><br>

        <label for="new_description">New Task Description:</label><br>
        <textarea id="new_description" name="new_description" rows="4" cols="50" required></textarea><br><br>

        <label for="new_created_at">New Created At:</label><br>
        <input type="datetime-local" id="new_created_at" name="new_created_at" required><br><br>

        <input type="submit" value="Update Task">
    </form>
    {{result}}

{% endblock %}